@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.start {
    background-image: url(images/frame.jpg);
    background-repeat: no-repeat;
}

.introduction {
    display: flex;
    padding-top: 150px;
    padding-left: 80px;
    width: 100%;
    height: 850px;
}

.navigation-bar {
    font-weight: bold;
    font-size: 30px;
    margin-right: 150px;
    padding-top: 50px;
}

.navigation-bar a {
    text-decoration: none;
    padding-left: 30px;
    color: brown;
}

.navigation-bar a:hover {
    text-decoration: underline;
    color: OrangeRed;
}

#welcome {
    font-size: 150px;
    color: brown;
    margin-bottom: 20px;
}

.heading {
    width: 50%;
}

.heading h2 {
    font-size: 70px;
}

.heading p {
    color: SlateGray;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#name {
    color: orangered
}

#goru {
    width: 800px;
    height: 800px;
}

.image {
    border: 2px solid blueviolet;
    width: 100px;
    height: 50px;
}

.heading a {
    text-decoration: none;
    color: white;
    border: 2px solid gray;
    border-radius: 50px;
    font-size: 60px;
    margin-left: 200px;
    padding: 3%;
    background-image: linear-gradient(to right, DimGray, Sienna);
}

.about {
    background-image: url(images/check.jpg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
}

#rang {
    width: 800px;
    height: 800px;
}

.description {
    width: 50%;
    padding-left: 5%;
}

.about h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    color: crimson;
}

.about p {
    margin-top: 50px;
    font-size: 31px;
    text-align: justify;
    color: DarkSlateGrey;
    line-height: 40px;
    margin-bottom: 50px;
}

#contact {
    text-decoration: none;
    color: floralwhite;
    border-radius: 50px;
    font-size: 60px;
    margin-left: 300px;
    padding: 3%;
    background-image: linear-gradient(to right, orangered, GoldenRod);
}

.writings {
    text-align: center;
    margin-top: 40px;
}

.writings h1 {
    font-size: 70px;
    color: orangered;
}

.writings p {
    color: darkgray;
    font-size: 27px;
    width: 900px;
    margin-left: 550px;
}

#mach {
    width: 350px;
    height: 300px;
    border-radius: 50%;
    padding-left: 10%;
    padding-top: 8%;
}

#vorta {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-left: 10%;
    padding-top: 8%;
}

#roshogolla {
    width: 300px;
    height: 300px;
    padding-left: 10%;
    border-radius: 50%;
    padding-left: 10%;
    padding-top: 8%;
}

.menu {
    margin-top: 80px;
    display: flex;
    margin-left: 150px;
}

.box {
    width: 25%;
    border-radius: 50px;
    box-shadow: 15px 15px 15px 15px #888888;
    margin-right: 150px;
    height: 605px;
    padding-left: 30px;
    padding-right: 30px;
}

.box h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box p {
    font-size: 22px;
    text-align: justify;
    color: slategray;
    line-height: 35px;
}

.daily {
    display: flex;
    margin-top: 200px;
    margin-left: 120px;
    width: 90%;
    height: 300px;
    border-radius: 40px;
    box-shadow: 15px 15px 15px 15px #888888;
}

.food {
    width: 400px;
    margin-left: 200px;
    margin-top: 80px;
}

.food h2 {
    font-size: 60px;
    color: ;
}

.food p {
    font-size: 35px;
    color: grey;
}

.foot {
    width: 100%;
    margin-top: 10%;
    height: 300px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.774);
}

.follow {
    padding-top: 100px;
}

.follow h3 {
    font-size: 40px;
    color: white;
}

#name2 {
    color: orangered;
}

.follow p {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
}

.follow a {
    text-decoration: none;
    color: red;
}